h1 {
    color: blue;
    
}
h1 a{

    color: red;
}

h2 a:hover{
    color: orange;
}

#mate-in-one{
    border-radius: 30px;
    box-shadow: 5px 10px orange ;
}

.chessboard{
    border-radius: 30px;  
}

 