h1 {
    color: blue;
    
}
h1 a{

    color: red;
}

h2 a:hover{
    color: orange;
}

.chessboard{
    border-radius: 30 px;  
}

.chessboard:hover{

    box-shadow: 10px 10px 10px 10px orange;

}

.mate-in-one{
       box-shadow: 5px 10px orange ;
}

.mate-in-two{
    box-shadow: 5px 10px red;  
}




 